.container      
    .row
        .head
            .headerobjectswrapper               
                .header Newpost York
                
p(style="font-family: 'Playfair Display', font-style='italic' ") #{headline}
    .lead #{content}